.App .maincontent {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  max-width: 600px;
  padding: 20px;
  margin: 40px auto;
}

@media (max-width: 500px) {
  .App .maincontent {
    padding: 10px;
  }
}
