.Displaytemperature {
  display: inline;
}
.Displaytemperature .mainunit a {
  color: #5c5c5c;
}
.Displaytemperature strong {
  color: #000000;
  font-size: 25px;
}

@media (max-width: 500px) {
  .Displaytemperature .mainT {
    font-size: 18px;
  }
}
