.ForecasDay {
  color: #383838;
}
.ForecasDay .Forecastweekday {
  font-size: 18px;
  font-weight: bolder;
}

.ForecasDay .mintemp {
  opacity: 70%;
}
.ForecasDay .maxtemp {
  font-weight: bolder;
}

.ForecasDay img {
  width: 60px;
}

@media (max-width: 500px) {
  .ForecasDay img {
    width: 50px;
  }
  .ForecasDay .Forecastweekday,
  .maxtemp,
  .mintemp {
    font-size: 15px;
  }
}
