.Weather {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  max-width: 700px;
  margin: 50px auto;
}

.Weather h1 {
  color: #000000;
  font-weight: bold;
  font-size: 50px;
  padding: 20px;
  margin: 0;
}
.Weather h2 {
  margin: 0 auto;
  font-size: 50px;
  text-align: center;
}

.Weather footer a {
  color: #5c5c5c;
}
.Weather .maintemperature {
  margin: 20px auto;
}
.Weather .mainsection {
  padding: 20px;
}

.Weather .iconbox {
  padding: 0;
}
.Weather .sectionA ul,
li {
  list-style: none;
}

.Weather .citybox {
  text-align: right;
}
