.Weather {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  max-width: 700px;
  margin: 50px auto;
}
.Weather .maintemperature {
  margin: 20px auto;
}

.Weather .citybox {
  text-align: right;
}

.Weather h1,
.Weather .mainT {
  color: #000000;
  font-weight: bold;
  font-size: 50px;
}
.Weather h1 {
  margin: 27px auto;
}

.Weather .mainunit {
  display: inline-block;
  text-align: center;
  color: #5c5c5c;
  text-decoration: none;
  position: relative;
  top: -20px;
}

.Weather footer a {
  color: #5c5c5c;
}

.Weather .mainsection {
  padding: 20px;
}

.Weather .iconbox {
  padding: 0;
}
.Weather .sectionA ul,
li {
  list-style: none;
  color: #5c5c5c;
}
